body{
    max-width: 800px;
    margin:auto;
    padding:2px;
    text-align: justify;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px 40px;
    box-shadow: 0 0 10px;
}
.profile_container{
    display:flex;
    align-items: center;
    gap:20px;
}
.profile_profileImg img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.profile_title{
    font-size: 18px;
    margin:5px 0;
}
.contact{
    font-size: 14px;
}
h3{
    border-bottom: 2px solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
ul{
    padding-left: 20px;
    margin: 5px 0;
}
li{
    margin-bottom:5px;
}